# Dependency directories
node_modules/

# Lockfiles
package-lock.json
pnpm-lock.yaml
yarn.lock

# Config & tooling
.prettierrc
.prettierrc.*
.eslintrc
.eslintrc.*
tsconfig.json
tsconfig.*.json
tsup.config.ts
babel.config.js
webpack.config.js

# Local/dev directories
examples/
.vscode/
screenshots/
images/

# Build artifacts (we only want dist/)
coverage/
.nyc_output/

# Misc
*.log
.DS_Store